@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
@import "module/header.scss";
@import "module/footer.scss";